.modal-driver.p {
  display: flex;
  flex-direction: column;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.modal-team.p {
  display: flex;
  flex-direction: column;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.modal-image {
  display: flex;
  justify-content: center;
}

.driver-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain !important;
}