.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.request-button {
  height: 50px;
  width: 100px;
}

.odds-list {
  display: flex;
  justify-content: center;
  flex-direction: row;  
  gap: 20px
}

.odds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.racers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}