.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.request-button {
  height: 50px;
  width: 100px;
}

.race {
  font-size: 2em;
}

.odds-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e10600;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  min-width: 900px;
  height: 20px;
  padding: 1.5em 1.5em;
}

.app-name {
  font-size: 2em;
}

.balance {
  font-size: 1.5em;
  position: absolute;
  right: 2.5em;
}

.grid-container {
  border: #e10600 1px solid;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-auto-rows: 40px;
  grid-row-gap: 10px;
  grid-column-gap: 25px;
}

.grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-name {
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 5px;
}

.bet-button {
  font-size: 1.5em;
  width: 150px;
}

.bet-select {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
