.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {

  .content-body {
    margin-top: 60px !important;
  }

  .nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e10600;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }

  .app-name {
    font-size: 1.5em !important;
  }
  
  .balance {
    font-size: 1.3em !important;
    position: absolute;
    right: 0.5em;
  }

  .bet-box {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
  }

  .bet-select {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 10px !important;
  }

  .grid-container {
    display: flex;
    justify-content: center;
    border: #e10600 3px solid;
    border-radius: 10px;
    padding: 0.5em;
    
    min-width: auto !important;
    margin: 1em !important;
    display: grid;
    grid-template-columns: repeat(3, 200px) !important;
    grid-column-gap: 50px;
  }
  
  .results-box {
    min-width: auto !important;
    margin: 1em !important;
  }
}

@media only screen and (max-width: 755px) {

  .content-body {
    margin-top: 30px !important;
  }

  .nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e10600;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 40px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  }

  .app-name {
    font-size: 1.5em !important;
    position: absolute;
    left: 0.5em;
  }
  
  .balance {
    font-size: 1.3em !important;
    position: absolute;
    right: 0.5em;
  }

  .bet-box {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  
  .grid-container {
    display: flex;
    justify-content: center;
    border: red 3px solid;
    border-radius: 10px;

    min-width: auto !important;
    margin: 1em !important;
    grid-template-columns: repeat(2, 200px) !important;
  }
  
  .results-box {
    min-width: auto !important;
    margin: 1em !important;
  }
}

@media only screen and (max-width: 505px) {

  .grid-container {
    min-width: none !important;
    grid-template-columns: repeat(2, 120px) !important;
  }

  .odds-item {
    display: flex;
    justify-content: center;
    flex-direction: column !important;
    gap: none !important;
    height: 100px !important;
  }

  .name {
    display: flex;
    justify-content: center !important;
    flex-direction: column !important;
    width: 120px !important;
    margin-bottom: 0 !important;
  }

  .odds {
    display: flex;
    justify-content: center !important;
    flex-direction: column !important;
    margin-top: 0 !important;
  }

  .table {
    border-spacing: 0.2em;
  }
}


.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
}

.request-button {
  height: 50px;
  width: 100px;
}

.race {
  font-size: 2em;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e10600;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.app-name {
  font-size: 2em;
}

.balance {
  font-size: 1.5em;
  position: absolute;
  right: 0.5em;
}

.race-search {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 20px;
}

.race-button {
  font-size: 1.3em;
  width: 150px;
  font-family: 'Titillium Web', sans-serif;
}


/* GRID  */
.grid-container {
  display: flex;
  justify-content: center;
  border: #e10600 3px solid;
  border-radius: 10px;
  padding: 1em;
  min-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 50px;
}

.results-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: #e10600 3px solid;
  border-radius: 10px;

  padding: 1em;
  min-width: 1000px;
  margin: auto;
  margin-bottom: 2em !important;
}

.result-table {
  margin: 4px, 4px;
  padding: 4px;
  height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

.scroll-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 2em;
}

.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}

.odds {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.odds-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.message {
  font-size: 1.5em;
}


/* BET SELECTION */
.bet-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  gap: 5px;
}

.bet-button {
  font-size: 1.3em;
  width: 150px;
  font-family: 'Titillium Web', sans-serif;
}

.bet-select,
.driver-select {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.bet-summary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.table {
  border-spacing: 1em 10px;
}